.badge {
  padding: 0.2rem 0.65rem;
  font-size: 0.75em;
  line-height: 1;
  text-align: center;
  border-radius: 0.3rem;
  cursor: pointer;
}

.rounded-pill-badge {
  border-radius: 50rem;
}
.status-badge {
  height: 1.25rem;
  min-width: 1.25rem;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 0.75em;
  box-sizing: border-box;
}

.status-online {
  background-color: #1b7052;
}
.status-away {
  background-color: #ff9204;
}
.status-offline {
  background-color: #dc3545;
}
.status-badge-number {
  border: none;
  right: -1rem;
  top: -0.7rem;
}
.badge-container {
  position: relative;
  width: fit-content;
  box-sizing: border-box;
}
.badge-container .avatar-lg ~ .status-badge {
  right: 1.4em;
  bottom: 0.7em;
  height: 1.565rem;
  min-width: 1.565rem;
}

.badge-container .avatar-md ~ .status-badge {
  right: 0.5em;
  bottom: 0.6em;
}

.badge-container .avatar-sm ~ .status-badge {
  right: 0.1em;
  bottom: 0.1em;
  height: 0.9375rem;
  min-width: 0.9375rem;
}

.badge-container .avatar-xs ~ .status-badge {
  right: 0em;
  bottom: 0em;
  height: 0.75rem;
  min-width: 0.75rem;
}
