/* base/reset styles */
@import "./shared/resets.css";

/* 
shared
*/

@import "./shared/variables.css";
@import "./shared/colors.css";
@import "./shared/image.css";
@import "./shared/animation.css";
@import "./shared/typography.css";
@import "./shared/effects.css";
@import "./shared/spacing.css";
@import "./shared/layout.css";
@import "./shared/borders.css";

/* 
components
 */
@import "./avatar.css";
@import "./badge.css";
@import "./alert.css";
@import "./button.css";
@import "./card.css";
@import "./input.css";
@import "./navigation.css";
@import "./star-rating.css";
@import "./modal.css";

nav::-webkit-scrollbar {
  width: 5px;
}

nav::-webkit-scrollbar-track {
  background-color: var(--cyan-500);
}

nav::-webkit-scrollbar-thumb {
  background: var(--cyan-200);
  border-radius: 25px;
}
