html {
  position: relative;
  min-height: 100vh;
}

.grid {
  /* grid-template-columns: repeat(6, 1fr); */

  grid-template-areas:
    "head head head head head head"
    "nav nav page page page page"
    "nav nav page page page page"
    "nav nav page page page page"
    "nav nav page page page page"
    "foot foot foot foot foot foot";
}

.docs-header {
  grid-area: head;
}
.docs-sidenav {
  grid-area: nav;
}
.docs-page {
  grid-area: page;
}
.docs-footer {
  grid-area: foot;
}

.docs-sidenav::-webkit-scrollbar {
  width: 2px;
}

.docs-sidenav::-webkit-scrollbar-track {
  background-color: var(--cyan-500);
}

.docs-sidenav::-webkit-scrollbar-thumb {
  background: var(--cyan-200);
  border-radius: 25px;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background-color: var(--cyan-500);
}

body::-webkit-scrollbar-thumb {
  background: var(--cyan-200);
  border-radius: 25px;
}
